body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.section {
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
}
#red-gold {
  background-color: darkred;
  color: gold;
}

#black-white {
  background-color: black;
  color: white;
}

#jade-cream {
  background-color: mediumseagreen;
  color: beige;
}

#indigo-silver {
  background-color: indigo;
  color: silver;
}

#crimson-yellow {
  background-color: crimson;
  color: gold;
}

#emerald-peach {
  background-color: forestgreen;
  color: peachpuff;
}

#cerulean-white {
  background-color: mediumblue;
  color: white;
}

#teal-rust {
  background-color: teal;
  color: darkorange;
}

#charcoal-sky {
  background-color: darkslategray;
  color: skyblue;
}

#mustard-plum {
  background-color: gold;
  color: darkorchid;
}
